@model UserVm
@await Html.PartialAsync("_PageHeader", "Student View Page")

<hr />
<div class="container-fluid">
    <div class="jumbotron">
        <p><strong>Username:</strong>&nbsp;@Model.Username</p>
        <p><strong>First Name:</strong>&nbsp;@Model.FirstName</p>
        <p><strong>Last Name:</strong>&nbsp;@Model.LastName</p>
        <p><string>Email:</string>@Model.Email</p>
        @if (@Model.IsObsolete)
        {
            <div class="alert alert-danger">
                User is obsoleted
            </div>
        }
        else
        {
            <div class="alert alert-success">
                User is active
            </div>
        }
        <div class="container-controls">
            <a asp-action="StudentEdit" asp-route-id="@Model.Id" class="btn btn-primary">Edit</a>
            @if (@Model.IsObsolete)
            {
                <form asp-action="StudentRestore" asp-route-id="@Model.Id" method="post">
                    <button class="btn btn-success">Restore</button>
                </form>
            }
            else
            {
                <form asp-action="StudentObsolete" asp-route-id="@Model.Id" method="post">
                    <button class="btn btn-danger">Obsolete</button>
                </form>
            }
        </div>
    </div>
</div>
